*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.one{
    width: 100%;
    height: 500px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.one text{
    width: 400px;
    height: 400px;
}
.one .shekil{
    width: 400px;
    height: 400px;
    background-image: url(https://mobirise.com/extensions/kidsm4/assets/images/gallery05.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
h1{
    color:rgb(20, 20, 59);
}
p{
    color: gray;
}
h4{
    color: rgb(20, 20, 59);
}
.cid-rHeCW1Ar8v .wrapper {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
}
.cid-rHeCW1Ar8v .icon-img{
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}
.cid-rHeCW1Ar8v img{
    overflow-clip-margin: content-box;
    overflow: clip;
}